<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tesis</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for 'head'}}


    <link rel="stylesheet" href="assets/vendor.css">

    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/prism.css">

    <link rel="stylesheet" href="assets/web.css">


    {{content-for 'head-footer'}}
  </head>
  <body>
    {{content-for 'body'}}


    <script src="assets/vendor.js"></script>
    <script src="/assets/js/prism.js"></script>
    <script src="/assets/js/bootstrap.js"></script>

    <script src="assets/web.js"></script>

    {{content-for 'body-footer'}}

  </body>
</html>
