<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#link-to "index" class="navbar-brand"}}
            Tesis
        {{/link-to}}
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              {{session.user.lastname}}, {{session.user.name}}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a {{action "doLogout"}} href="#">Logout {{fa-icon "sign-out"}}</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
          Tareas
        <a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#taskForm">Nueva Tarea</a>
      </h1>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-bordered" style="text-align: center;">

        <thead>
          <tr>
            <th class="text-center col-md-2">Función map</th>
            <th class="text-center col-md-2">Función reduce</th>
            <th class="text-center">Slices pendientes</th>
            <th class="text-center">Estado</th>
            <th class="text-center" colspan="3">Operaciones</th>
          </tr>
        </thead>
        <tbody>
          {{#each task in tasks}}
            <tr>

              <!-- map -->
              <td>
                <input type="button" class="btn btn-info"
                       data-toggle="collapse" data-parent="#accordion"
                       href="#collapseCodeOne" aria-expanded="true"
                       aria-controls="collapseOne"
                       value="Mostrar/Ocultar" />

                <pre class="line-numbers language-javascript collapse" id="collapseCodeOne">
                  <code class="line-numbers language-javascript">{{task.imap}}</code></pre>
              </td>

              <!-- reduce -->
              <td>
                <input type="button" class="btn btn-info"
                       data-toggle="collapse" data-parent="#accordion"
                       href="#collapseCodeTwo" aria-expanded="true"
                       aria-controls="collapseOne"
                       value="Mostrar/Ocultar" />
                <pre class="line-numbers language-javascript collapse" id="collapseCodeTwo">
                  <code class="line-numbers language-javascript">{{task.ireduce}}</code>
                </pre>
              </td>

              <!-- Slices faltantes -->
              <td><span class="badge" style="font-size: 20px;">
                {{task.available_slices.length}}</span></td>

              <!-- Estado -->
              <td>{{str-estado task enabled=task.enabled_to_process}}</td>

              <!-- Operaciones -->
              {{#if task.finished}}
                <td colspan="3">
                  <button {{action "doResultados" task._id}} class="btn btn-info">
                    {{fa-icon "search"}}
                  </button>
                </td>
              {{else}}
                <!-- Agregar datos -->
                <td>
                  <span data-toggle="tooltip" data-placement="top" title="Agregar datos">
                    <button {{action "doAgregarDatos" task _view._parentView.contentIndex}}
                      {{bind-attr class=":btn :btn-info task.enabled_to_process:disabled"}} data-toggle="modal" data-target="#addTaskData">
                      <i class="fa fa-plus"></i>
                    </button>
                  </span>

                </td>
                <!-- deshabilitar -->
                <td>
                  <button {{action "doHabilitar" task _view.contentIndex}}
                    {{bind-attr class=":btn :btn-success task.enabled_to_process:disabled" }}
 data-toggle="tooltip" data-placement="top" title="Habilitar">
                    {{fa-icon "check"}}
                  </button>
                </td>

                <!-- eliminar -->
                <td>
                  <button {{action "doEliminar" task _view.contentIndex}} class="btn btn-danger"
                                                                          data-toggle="tooltip" data-placement="top" title="Eliminar">
                    {{fa-icon "trash"}}
                  </button>
                </td>
              {{/if}}
            </tr>

            {{else}}
            <tr>
              <td colspan="666"><h4>No hay tareas que mostrar!</h4></td>
            </tr>
          {{/each}}
          {{#if result}}
            <tr>
              <td colspan="666">
                <pre><code>
                  {{result}}
                </code></pre>
              </td>
            </tr>
          {{/if}}
        </tbody>
      </table>
    </div>
  </div>

</div>




<!-- Modal -->
<div class="modal fade" id="taskForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nueva Tarea</h4>
      </div>
      <div class="modal-body">
        <form>
          <label>Función Map:</label>
          {{textarea classNames="form-control" value=newMap}}
          <label>Función Reduce:</label>
          {{textarea classNames="form-control" value=newReduce}}
          <label>Slices:</label>
          {{textarea classNames="form-control" value=newData}}
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button class="btn btn-primary" {{action "doAddTask"}}>Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- agregar datos -->
<div class="modal fade" id="addTaskData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <form>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Agregar datos</h4>
        </div>
        <div class="modal-body">
          <label>Slices:</label>
          {{textarea classNames="form-control" value=moreData}}
        </div>

        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button class="btn btn-primary" {{action "doMoreData"}}>
            Enviar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>