<!--
* parallax_login.html
* @Author original @msurguy (tw) -> http://bootsnipp.com/snippets/featured/parallax-login-form
* @Tested on FF && CH
* @Reworked by @kaptenn_com (tw)
* @package PARALLAX LOGIN.
-->

<!-- <script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script> -->
<div class="container">
  <div class="row vertical-offset-100">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row-fluid user-row">
            <img src="/img/logo_sm.png" class="img-responsive" alt="Conxole Admin"/>
          </div>
        </div>
        <div class="panel-body">
          <form accept-charset="UTF-8" role="form" class="form-signin">
            <fieldset>
              <label class="panel-login">
                <div class="login_result">{{error}}</div>
              </label>
              {{input classNames="form-control" placeholder="Username" id="username" value=username}}
              {{input classNames="form-control" placeholder="Password" id="password" value=password type="password"}}
              <br />
              <input class="btn btn-lg btn-success btn-block" type="submit" id="login" value="Login »"
                     {{action "login"}}>
              {{#link-to "register"}}
                <p class="text-right help-block">Or register!</p>
              {{/link-to}}
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
