<div class="container">
  <div class="row vertical-offset-100">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row-fluid user-row">
            <img src="http://s11.postimg.org/7kzgji28v/logo_sm_2_mr_1.png" class="img-responsive" alt="Conxole Admin"/>
          </div>
        </div>
        <div class="panel-body">
          <form accept-charset="UTF-8" role="form" class="form-signin">
            <fieldset>
              <label class="panel-login">
                <div class="login_result">{{error}}</div>
              </label>
              {{input classNames="form-control" placeholder="First Name" value=name}}
              {{input classNames="form-control" placeholder="Last Name" value=lastname}}
              {{input classNames="form-control" placeholder="Username" value=username}}
              {{input classNames="form-control" placeholder="Password" value=password type="password"}}
              <br />
              <input class="btn btn-lg btn-success btn-block" type="submit" id="login" value="Register »" {{action "register"}}>
              {{#link-to "login"}}
                <p class="text-right help-block">Or log in!</p>
              {{/link-to}}
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
